Goal Management System/Goal Management System/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61639/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:61639/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" />
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoginResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" minOccurs="0" name="u" nillable="true" type="q2:Users" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" minOccurs="0" name="r" nillable="true" type="q3:Roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" minOccurs="0" name="r" nillable="true" type="q4:Roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRoleNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRoleTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRoleCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="goalname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoleIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getRoleIndexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="goalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGoalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteGoalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" minOccurs="0" name="g" nillable="true" type="q5:Goals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editGoalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoalName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoalNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGoalNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoalCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoalCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGoalCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoalIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="goalName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGoalIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGoalIndexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" minOccurs="0" name="t" nillable="true" type="q6:Tasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
        <xs:element minOccurs="0" name="ti" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
        <xs:element minOccurs="0" name="ti" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Goal_Management_System___WCF" minOccurs="0" name="t" nillable="true" type="q7:Tasks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTasksCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTasksCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTasksCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
        <xs:element minOccurs="0" name="ti" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTaskNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ui" type="xs:int" />
        <xs:element minOccurs="0" name="ri" type="xs:int" />
        <xs:element minOccurs="0" name="gi" type="xs:int" />
        <xs:element minOccurs="0" name="ti" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTaskDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>